body {
    font-family: 'Arial', sans-serif;
    background-color: #1A1A40;
    color: #C2C2D1;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-left: 20px; /* added left padding */
    padding-right: 20px; /* added right padding */
}

h1 {
    color: #FFD541;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    color: #FF8A5B;
    font-size: 2em;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px; 
}

h3 {
    color: #7F5283;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 10px; 
}

p {
    color: #A1D2E6;
    font-size: 1em;
    margin: 5px 0; 
}

ul, li {
    margin: 10px 0;
    padding: 0;
    list-style-position: inside;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #5587A2;
    padding: 20px;
    border-radius: 8px;
}

.post, .hours-breakdown {
    background: #4D5061;
    color: #C2C2D1;
    border-radius: 8px;
}

.hours-breakdown h2, .hours-breakdown h3 {
    color: #FF8A5B;
    text-align: center;
}

.hours-breakdown ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: table;
}

.hours-breakdown li {
    background-color: #6A6B7F;
    color: #A1D2E6; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.hours-breakdown ul ul li {
    background-color: #5D5E70;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .hours-breakdown {
        width: 95%;
    }

    .hours-breakdown ul ul li {
        margin-left: 10px;
    }

    .hours-breakdown h3 {
        font-size: 1.2em;
    }

    .hours-breakdown ul {
        width: 100%;
    }

    .image-container img {
        flex-basis: 100%;
        max-height: 450px; 
    }
}

.post img, .image-container img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 10px auto;
    border-radius: 8px; 
    object-fit: contain;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container img {
    flex-basis: 70%; 
    max-height: 400px;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #FFD541;
    color: #1A1A40;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em; 
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #FF8A5B;
    transform: translateY(-2px);
}